<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MindGarden</title>
<link rel="stylesheet" href="css/styles.css">

</head>
<body>
<header class="header">
  <h1>Welcome to your MindGarden!</h1>
  <p class="subtitle">Think about this week, how would you like to spend it?</p>
  <div class="date-and-edition">
    <span id="currentDate">Berlin - 28 FEB - 2024</span>
    <a href="index.html">
      <button id="addNewDay">Blog</button>
    </a>
    
  </div>
</header>

<h2>Add New Post</h2>
<form action="/new-post" method="POST">
  <input type="text" name="title" placeholder="Title" required>
  <textarea name="content" placeholder="Content" required></textarea>
  <button type="submit">Add Post</button>

  <section class="columns">
    <% data.forEach(function(day) { %>
      <div class="column">
        <h3><%= day.title %></h3>
        <p><%= day.content %></p>
        <a href="/edit/<%= day._id %>">Edit</a>
        <a href="/delete/<%= day._id %>" onclick="return confirm('Are you sure you want to delete this day?')">Delete</a>
      </div>
    <% }); %>
  </section>
</form>

    <script>
      function formatDate(date) {
        const options = { day: '2-digit', month: 'short', year: 'numeric' };
        return `Berlin - ${date.toLocaleDateString('en-US', options)}`;
      }
      const currentDate = new Date();
      document.getElementById('currentDate').textContent = formatDate(currentDate);

      window.history.replaceState({}, '',  '/your-garden')
    </script>

</script>
</body>
</html>


<!-- </form>
  
  <section class="columns">
    <div class="column">
      <img src="img/blog.jpeg" alt="Berlin">
      <h3>Wednesday</h3>
      <p>Let's start every week from Wednesday.</p>
    </div>
    <div class="column">
      <img src="img/reflection.jpeg" alt="Berlin">
      <h3>Thursday</h3>
      <p>This day is reserved for anything you are interested in.</p>
    </div>
    <div class="column">
      <img src="img/IMG_thisPaper.jpeg" alt="Berlin">
      <h3>Friday</h3>
      <p>So what do we do today?</p>
    </div>
  </section> -->
